* {
  margin: 0;
  padding: 0;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-around;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: #cdc2ae;
  text-align: center;
  color: white;
}

.selected {
  background-color: #cdc2ae;
}

.sorted {
  background-color: rgb(200 94 21);
}

.header {
  height: 10vh;
  background-color: #181d31;
  text-align: center;
}

.header .navbar {
  list-style: none;
}

.header .navbar li {
  padding: 25px;
  display: inline-flex;
  font-weight: bolder;
  font-size: x-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header .navbar li:hover {
  background-color: #cdc2ae;
  cursor: pointer;
}

.body {
  height: 80vh;
}

.graph {
  flex: 75%;
  position: relative;
  padding-bottom: 100px;
}

.graph div {
  position: absolute;
  background-color: #678983;
  min-width: 40px;
  height: 200px;
  margin: 10px;
  padding: 8px;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 10px 10px 5px 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.user-controls * {
  margin: 10px;
  padding: 10px;
}

.user-controls #userNumbers {
  width: 200px;
  border-radius: 8px;
  border: none;
  height: 29px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer {
  height: 10vh;
  background-color: #cdc2ae;
}
button {
  border: none;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 150px;
  font-size: 25px;
}

#error {
  color: red;
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: none;
}
